# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import os
import pandas as pd
from datetime import datetime

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

In [2]:
i94table = pd.read_csv('Sem_Ttulo_13.csv', sep=';')
i94table.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype,Unnamed: 21
0,6.0,2016.0,4.0,692.0,692.0,XXX,20573.0,NaN,NaN,NaN,...,NaN,1979.0,10282016,NaN,NaN,NaN,1.897628e+09,NaN,B2,NaN
1,7.0,2016.0,4.0,254.0,254.0,ATL,20551.0,1.0,AL,NaN,...,NaN,1991.0,D/S,M,NaN,NaN,3.736796e+09,296.0,F1,NaN
2,15.0,2016.0,4.0,101.0,101.0,WAS,20545.0,1.0,MI,20691.0,...,M,1961.0,9302016,M,NaN,OS,6.666432e+08,93.0,B2,NaN
3,16.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,M,1988.0,9302016,NaN,NaN,AA,9.246846e+10,199.0,B2,NaN
4,17.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,M,2012.0,9302016,NaN,NaN,AA,9.246846e+10,199.0,B2,NaN

In [3]:
#import the data from aircodes into template
airport = pd.read_csv("airport-codes_csv.csv")

In [4]:
# Display first few entries of temperature data
airport.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [5]:
#import the data from global into panda
worldtemp = pd.read_csv('Folha1-GlobalLandTemperaturesByCity.csv', sep=';')
#print(temp_fname)
#worldtemp = temp_fname
worldtemp.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,I94cit
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E,108.0
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,108.0
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,108.0
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,108.0
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,108.0

In [6]:
#import the data from us cities indo panda
us_cities = pd.read_csv("us-cities-demographics.csv", sep=";")
us_cities.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

In [7]:
# Clean airport data
imm_sample = pd.read_csv('./immigration_data_sample.csv')
imm_sample.head()
imm_header = list(imm_sample.head(0))
imm_header = imm_header[1:]
print(imm_header)

['cicid', 'i94yr', 'i94mon', 'i94cit', 'i94res', 'i94port', 'arrdate', 'i94mode', 'i94addr', 'depdate', 'i94bir', 'i94visa', 'count', 'dtadfile', 'visapost', 'occup', 'entdepa', 'entdepd', 'entdepu', 'matflag', 'biryear', 'dtaddto', 'gender', 'insnum', 'airline', 'admnum', 'fltno', 'visatype']

In [8]:
# based on the code abouve and the website trade.gov we can detect and understand each headline
'''
### Data dictionary
* 'cicid' unid ID, 
*'i94yr' year 4 digit, 
*'i94mon' month number, 
*'i94cit' city 3 digit, 
*'i94res' country 3 digit, 
*'i94port'port, 
*'arrdate' arrival date, 
*'i94mode' type of transport, 
*'i94addr' state of arrival, 
*'depdate' departure, 
*'i94bir' age inyear, 
*'i94visa' visa codes category, 
*'count' summary stats, 
*'dtadfile' data field,
*'visapost' visa issued place, 
*'occup' occupation, 
*'entdepa' arrival flag, 
*'entdepd' departure flag, 
*'entdepu' update flag, 
*'matflag' match flag, 
*'biryear' year birth 4 digit, 
*'dtaddto' character field, 
*'gender' gender, 
*'insnum' ins number, 
*'airline' airline arrived, 
*'admnum' admission number, 
*'fltno' flight number, 
*'visatype class of visa']
'''

"\n### Data dictionary\n* 'cicid' unid ID, \n*'i94yr' year 4 digit, \n*'i94mon' month number, \n*'i94cit' city 3 digit, \n*'i94res' country 3 digit, \n*'i94port'port, \n*'arrdate' arrival date, \n*'i94mode' type of transport, \n*'i94addr' state of arrival, \n*'depdate' departure, \n*'i94bir' age inyear, \n*'i94visa' visa codes category, \n*'count' summary stats, \n*'dtadfile' data field,\n*'visapost' visa issued place, \n*'occup' occupation, \n*'entdepa' arrival flag, \n*'entdepd' departure flag, \n*'entdepu' update flag, \n*'matflag' match flag, \n*'biryear' year birth 4 digit, \n*'dtaddto' character field, \n*'gender' gender, \n*'insnum' ins number, \n*'airline' airline arrived, \n*'admnum' admission number, \n*'fltno' flight number, \n*'visatype class of visa']\n"

In [9]:
# Clean world temperature data, we will use only Country, AverageTemperature, Latitude, Longitude data, so let´s clean the sheet. For this assignment, we will group by country because it´s a common item for interation between the data´s. I will assume the first data as a oficial for all the headline
worldtemp = worldtemp.groupby(["I94cit"]).agg({"AverageTemperature": "first","Country": "first","Longitude": "first","Latitude": "first"}).reset_index()
worldtemp.head()

   I94cit  AverageTemperature  Country Longitude Latitude
0   104.0               7.520  Belgium     3.80E   50.63N
1   107.0               2.347   Poland    23.18E   53.84N
2   108.0               6.068  Denmark    10.33E   57.05N
3   111.0               7.478   France     4.47E   44.20N
4   112.0               6.425  Germany     6.34E   50.63N

In [10]:
# Clean us_cities immigration data, we will use only City, so let´s clean the sheet. For this assignment, we will group by city because it´s a common item for interation between the data´s. I will assume the first data as a oficial for all the headline
us_cities = us_cities.groupby(["City"]).agg({"State": "first"}).reset_index()
us_cities.head()

      City       State
0  Abilene       Texas
1    Akron        Ohio
2  Alafaya     Florida
3  Alameda  California
4   Albany     Georgia

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

In [11]:
#The first dimension table will contain events from the I94 immigration data such as(year, city code, arrive and departure) and the second dimension table will contain temperature, city code,latitude and longitude.
#The fact table will join the data between I94 table and worldtemp linked by "port"(city cod)
#the data was cleaned before to select only what we wanna, and result in a fast and clean code

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [12]:
#extract columns
temperature_table = worldtemp.filter(["AverageTemperature", "I94cit", "Latitude", "Longitude"])

#Write temparturature
#temperature_table.to_parquet(('results/temperature.parquet'),partition_cols=["city"])

temperature_table.to_csv('results/temperature.csv', index=False)

In [13]:
#immigration data
#immigration_data = '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
#df_immigration = pd.read_sas(fname, 'sas7bdat', encoding="ISO-8859-1", chunksize=50000)
#fname = immigration_table
#extraction
immigration_table = i94table.filter(["i94yr", "i94cit", "arrdate", "depdate"])

#Write result
#immigration_table.write.mode("append").partitionby("i94cit").parquet("/results/imigration.parquet")
immigration_table.to_csv('results/immigration.csv', index=False)

In [14]:
#Temporary views Immigration and temperature
#i94table.createorreplacetempview("imigration_view")
#worldtemp.createorreplacetempview("temp_view")

#cur.execute("SELECT name, store.store_id, store.state, item_name, customer.rewards \
                                                #FROM (((customer_transactions \
                                                #JOIN customer ON customer.customer_id=customer_transactions.customer_id)\
                                                #JOIN store ON \
                                                #customer_transactions.store_id=store.store_id) \
                                                #JOIN items_purchased ON \
                                                #customer_transactions.customer_id=items_purchased.customer_id)\
                                               # WHERE spent > 30 ;")
#create the fact tabe bby join

df_table = pd.read_sql_query ('''
SELECT immigration_table.i94yr as year,
       immigration_table.i94cit as city_code,
       immigration_table.arrdate as arrival_date,
       immigration_table.depdate as departure_date,
       temperature_table.AverageTemperature as temperature,
       temperature_table.i94cit as i94city_code,
       temperature_table.Latitude as Latitude,
       temperature_table.Longitude as Longitude
FROM immigration_table
JOIN temperature_table ON (immigration_table.i94cit = temperature_table.i94cit)
'''
conn.commit())

#write fact table to parquet files by i04port
fact_table.to_csv('results/fact.csv')

SyntaxError: invalid syntax (<ipython-input-14-40ae4dc1a28e>, line 27)

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
def quality_check(df, description):
    
#imput data

#output outcome

    Result = df.count()
    if result == 0:
        print("Data check fail".format(description))
    else:
        
# Perform quality checks here
#quality_check(df_immigration, "immigration check")
#quality_check(worldtemp, "temperature check")

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

In [ ]:
#i94port = 3 character code of destination city (mapped from immigration data during cleanup step)
#AverageTemperature = average temperature
#City = city name
#Country = country name
#Latitude= latitude
#Longitude = longitude
#The fact table will contain information from the I94 immigration data joined with the city temperature data on i94port:
#i94yr = 4 digit year
#i94mon = numeric month
#i94cit = 3 digit code of origin city
#i94port = 3 character code of destination city
#arrdate = arrival date
#i94mode = 1 digit travel code
#depdate = departure date
#i94visa = reason for immigration
#AverageTemperature = average temperature of destination city

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.

In [ ]:
#Clearly state the rationale for the choice of tools and technologies for the project.
#SQL was chosen to process the large input files into dataframes.

In [ ]:
#Propose how often the data should be updated and why.
#Since it´s a report for study, and all the data are group by month, I suggest a montly update

In [ ]:
#Write a description of how you would approach the problem differently under the following scenarios:The data was increased by 100x.
#If the data was increased by 100x, we would need to process the data in s3 or spark

In [ ]:
#The data populates a dashboard that must be updated on a daily basis by 7am every day.
#If the data must be uptade everyday, to avoid any kind of update I would suggest a report Day-1, in that way we would have enough time to uptade the report and avoid any system or internet or process problem

In [ ]:
#The database needed to be accessed by 100+ people.
#If we need to send the database to more than 100 people, we sould export the report to pdf or even create a summary version of the data, that can easily send by e-mail.